* {
  font-family: system-ui;
}

.hide {
  display: none;
}

.todo-list {
  margin: 5vw 15vw;
  box-shadow: 0.3vw 0.3vw 1.5vw grey;
}

.active {
  background-color: rgb(231, 231, 159);
}

.complete {
  text-decoration: line-through;
}

.clear-btn {
  text-decoration: none;
  color: #6b6b6b;
}

.clear-btn:hover {
  text-decoration: underline;
  color: #000;
}

.del-icon {
  content: url("./images/delete.png");
  width: 1.5vw;
  height: 1.5vw;
  opacity: 0.5;
}

.del-icon:hover {
  opacity: 0.9;
}

.title-text {
  align-self: center;
  font-family: sans-serif;
  margin: 0;
}

.task-input {
  border-style: none;
  outline: none;
  font-style: italic;
  width: 100%;
}

.list-input {
  border-style: none;
  outline: none;
  font-family: system-ui, sans-serif;
  background-color: transparent;
  font-size: 1.5vw;
  color: black;
  width: 100%;
  margin-left: 1vw;
}

.check-input-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.task-input-box {
  padding: 1vw;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.list-item {
  padding: 1vw;
  border-bottom: 1px solid #eee;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.add-todo-btn {
  content: url("./images/add.png");
  width: 1.2vw;
  height: 1.2vw;
  opacity: 0.5;
}

.list-menu-icn {
  content: url("./images/menu.png");
  width: 1.5vw;
  height: 1.5vw;
  opacity: 0.5;
}

.refresh-icn {
  content: url("./images/refresh.png");
  width: 1.7vw;
  height: 1.7vw;
  align-self: center;
  opacity: 0.5;
}

.title-ref-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 1vw;
}

.clear-btn-box {
  padding: 1.5vw 1vw;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
